<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uzair.pokemonnewspaperapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:useEmbeddedDex="true">
        <activity android:name=".Activities.DisplayImage"></activity>
        <activity
            android:name=".Activities.PokemonGameActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MoviesActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.EnglishSubAnimeActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AnimeActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MobilesActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.PokemonGoActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.NintendoSwitchActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.PokemonEventActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.PokemonMerchActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.PostDetails" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
    </application>

</manifest>